@import "tailwindcss";
@import "./variables.css";

html {
  font-family: "Pretendard", sans-serif;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-2);
  color: var(--color-tx-gray-1);
  min-height: 100vh;
  transition: all 0.2s ease-in-out;
}

.app-container {
  position: relative;
  width: 100%;
  max-width: var(--layout-breakpoint);
  height: 100vh;
  overflow-y: auto;
  background-color: var(--color-background-1);
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 8px;
  padding-bottom: 76px; /* space for bottom nav */

  &.no-scroll {
    overflow: hidden;
  }
}

.io-input {
  border-radius: 0.5rem;
  background-color: var(--color-background-2);
  color: var(--color-tx-gray-1);
  width: 100%;
  padding: 0.75rem 1rem;
}

.io-clickable, .io-btn {
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  user-select: none;
  transition: all .15s ease-in-out;
  transform: translateY(0);
  /* default style: ghost */
  color: var(--color-tx-gray-1);
  background-color: transparent;

  &:hover {
    background-color: var(--color-background-2);
  }

  &:active {
    background-color: var(--v-s-default-darker);
    transform: translateY(2px);
    box-shadow: var(--shadow-inner);
  }
}

.io-clickable {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.io-btn {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  font-weight: var(--font-weight-semibold);

  &.btn-outline {
    border: 1px solid var(--color-border-default);
  }

  &.btn-green {
    color: var(--color-white);
    background-color: var(--color-tx-green);

    &:hover {
      background-color: var(--v-s-green-darker);
    }

    &:active {
      background-color: var(--v-s-green-lighter);
    }
  }
}

.io-skeleton {
  width: 100%;
  background: linear-gradient(
    132deg,
    var(--color-background-3) 25%,
    #d9d9d9 65%,
    var(--color-background-3) 80%
  );
  background-size: 200% 100%;
  animation: skeleton-flow 2s ease-out infinite;
}

@keyframes skeleton-flow {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.io-modal {
  background-color: var(--color-background-1);
  border-radius: 1rem;
  box-shadow: var(--shadow-md);
  width: 85vw;
  max-width: 640px;
  max-height: 65vh;
  overflow-y: auto;
}

.io-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  z-index: 7;
}

.ellipse {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
